# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
*.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Local databases
*.db
app.db

# Build files
dist/
build/
*.egg-info/

# Matplotlib cache
.matplotlib/
